@use '../../styles/mixins' as *;

.section_hero {
	position: relative;
	overflow: hidden;
	height: 100dvh;
}

.hero_container {
	height: 100%;
}

.hero_wrapper {
	height: 100%;
	width: 100%;
	padding-bottom: em(10);
	position: relative;
	z-index: 2;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}

.hero_content {
	grid-column: 4 / 6;
	align-self: flex-end;
	color: var(--white);

	@media (max-width: 767px) {
		grid-column: auto;
		align-self: flex-start;
		width: 100%;
	}
}

.hero_bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

// Cases

.cases-anchor {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 1px;
	height: 1px;
}

.cases_wrapper {
	position: relative;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: em(35);
	}
}

.cases_intro {
	grid-column: 1 / 3;
	display: flex;
	flex-direction: column;
	gap: em(50);
	position: sticky;
	top: em(100);
	left: 0;
	align-self: flex-start;

	@media (max-width: 767px) {
		position: relative;
		top: 0;
		grid-column: auto;
		gap: em(55);
	}
}

.cases_tabs {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: em(8);
	border-bottom: em(4) solid var(--black);
}

.cases_title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.cases_list {
	grid-column: 4 / span 3;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: em(8);

	&.is--list {
		grid-template-columns: repeat(1, 1fr);
		gap: 0;
		align-self: flex-start;
	}

	@media (max-width: 767px) {
		grid-column: auto;
		display: flex;
		flex-direction: column;
	}
}

// About

.about_wrapper {
	width: 100%;
}

.about_title {
	grid-column: 4 / span 3;
	padding-top: em(34);
	position: relative;
	@include line-after();

	@media (max-width: 767px) {
		grid-column: auto;
		padding-top: em(25);
	}
}

.about_content {
	margin-top: em(50);
	height: em(700);
	padding: em(10);
	background-color: var(--black);

	@media (max-width: 767px) {
		margin-top: em(35);
		height: 100svh;
		display: flex;
	}
}

.about_banner {
	grid-column: 5 / end;
	align-self: flex-end;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: em(2);

	@media (max-width: 767px) {
		grid-column: auto;
	}
}

.about_banner-wrapper {
	padding: em(10);
	display: flex;
	flex-direction: column;
	gap: em(8);
	background-color: var(--white);
}

.about_banner-logos {
	display: flex;
	flex-direction: row;
	gap: em(8);
	max-height: em(250);
	min-height: em(250);
	border: 1px solid var(--black);
	overflow: hidden;
}

.about_logos-track {
	flex: 1;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: em(4);

	@media (max-width: 767px) {
		& p {
			font-size: em(14);
		}
	}
}

.about_logos-track-reverse {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.about_banner-line-1,
.about_banner-line-2,
.about_banner-line-3,
.about_banner-line-4 {
	width: 100%;
	background-color: var(--white);
	/*clip-path: inset(100% 0 0 0);*/
}

.about_banner-line-1 {
	height: em(1);
}
.about_banner-line-2 {
	height: em(2);
}
.about_banner-line-3 {
	height: em(3);
}
.about_banner-line-4 {
	height: em(4);
}

/* Services */

.services_wrapper {
	position: relative;
}

.services_info {
	grid-column: 1 / 3;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: em(50);
	position: relative;
	@include line-after();
	position: sticky;
	top: em(100);
	left: 0;

	@media (max-width: 767px) {
		grid-column: auto;
		position: relative;
		top: 0;
		padding-top: em(25);
		margin-bottom: em(35);
	}
}

.services_list {
	grid-column: 4 / span 3;
	display: flex;
	flex-direction: column;
	gap: em(8);

	@media (max-width: 767px) {
		grid-column: auto;
	}
}

/* Process */

.section_process {
	background-image: url('/images/process-bg-image.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: var(--white);
}

.process_wrapper {
	padding: em(50) 0;
	height: em(700);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	@media (max-width: 767px) {
		padding: em(35) 0;
		height: auto;
		gap: em(55);
	}
}

.process_top {
	@media (max-width: 767px) {
		display: contents;
	}
}

.process_title {
	grid-column: 1 / 4;

	@media (max-width: 767px) {
		grid-column: auto;
	}
}

.process_banner {
	grid-column: 6;
	display: flex;
	flex-direction: column;
	gap: em(2);
	color: var(--black);

	@media (max-width: 767px) {
		grid-column: auto;
		order: 4;
	}
}

.process_banner-line-1,
.process_banner-line-2,
.process_banner-line-3,
.process_banner-line-4 {
	width: 100%;
	background-color: var(--white);
	/*clip-path: inset(100% 0 0 0);*/
}

.process_banner-line-1 {
	height: em(1);
}
.process_banner-line-2 {
	height: em(2);
}
.process_banner-line-3 {
	height: em(3);
}
.process_banner-line-4 {
	height: em(4);
}

.process_banner-wrapper {
	padding: em(8);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	gap: em(30);
	text-align: right;
	background-color: var(--white);

	@media (max-width: 767px) {
		gap: em(25);
		text-align: left;

		& p {
			font-size: em(14);
			margin-right: auto;
		}
	}
}

.process_table {
	grid-column: 1;

	@media (max-width: 767px) {
		grid-column: auto;
	}
}

.process_table-cel {
	padding: em(1) 0;
	position: relative;

	@media (max-width: 767px) {
		padding: em(2) 0;

		& p {
			font-size: em(14);
		}
	}

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: em(1);
		background-color: var(--white);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&:first-child::before {
		content: '';
		display: block;
		width: 100%;
		height: em(1);
		background-color: var(--white);
		position: absolute;
		top: 0;
		left: 0;
	}
}
