@use '../../styles/mixins.scss' as *;

.service-card {
	width: 100%;
	height: em(400);
	background-color: var(--black);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: em(8);
	position: relative;
	cursor: pointer;
	overflow: hidden;

	&:hover .service-card_content {
		opacity: 1;
	}

	&:hover .service-card_icon {
		opacity: 1;
	}

	&:hover .service-card_bot {
		opacity: 1;
	}
}

.service-card_top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 2;
}

.service-card_content {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	transform: translateX(-50%);
	bottom: 0;
	width: 53%;
	height: 100%;
	background-color: #1b1b1b;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;

	@media (max-width: 767px) {
		width: 100%;
		height: em(244);
		opacity: 1;
		left: 0;
		top: em(56);
		transform: translateX(0);
	}
}

.service-card_bot {
	position: relative;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 3;

	@media (max-width: 767px) {
		opacity: 1;

		& li {
			font-size: em(14);
		}
	}
}

.service-card_icon {
	width: em(20);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	cursor: pointer;

	svg {
		width: 100%;
	}

	@media (max-width: 767px) {
		opacity: 1;
		width: em(25);
	}
}
