@import '../../styles/mixins.scss';

.tab {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: em(2);
	text-transform: capitalize;

	&:hover .tab_icon {
		background-color: var(--black);
	}
}

.tab_line-1,
.tab_line-2,
.tab_line-3,
.tab_line-4 {
	width: 100%;
	background-color: var(--black);
	clip-path: inset(100% 0 0 0);
}

.tab_line-1 {
	height: 1px;
}

.tab_line-2 {
	height: em(2);
}

.tab_line-3 {
	height: em(3);
}

.tab_line-4 {
	height: em(4);
}

.tab_content {
	padding: em(4) 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tab_icon {
	width: em(8);
	height: em(8);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	border: em(2) solid var(--black);
	transition: background-color 0.3s ease-in-out;
}

.tab_icon.is--active {
	background-color: var(--black);
}
