@import '../../styles/mixins.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	max-width: 100%;
	padding: em(10) 0;
	color: var(--color-text);
}

.logo {
	font-size: em(15);
}

.local-time {
	grid-column: 2;
	justify-self: end;
	align-self: start;
}

.header_nav {
	grid-column: 4;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: em(0);
}

.header-login {
	justify-self: 6;
	justify-self: end;
}
