@use 'sass:math';

@function em($pixels, $context: 16) {
	@return math.div($pixels, $context) * 1em;
}

// Mixin for responsive font-size
@mixin responsive-font {
	font-size: 1.1111111vw;

	@media (max-width: 767px) {
		font-size: 4.4444444vw;
	}
}

@mixin line-after($height: em(4), $color: var(--black)) {
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: $height;
		background-color: $color;
		position: absolute;
		top: 0;
		left: 0;
	}
}
